.container-main {

}
.container-uppersection {
    display: flex;
    flex-direction: row;

}
img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.pfp {
    width: 30px;
    height: 30px;
}
h1 {
    margin: 0;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    
}
.right-section {
    display: grid;
    grid-template-rows: 20px 20px;
    margin-left: 8px;
}
p {
    margin: 0;
    font-family: Roboto;
    font-size: 10px;
    font-weight: normal;
    width: 250px;
}
.container-user {
    display: flex;
    flex-direction: row;
    height: 15px;
}
h2 {
    margin: 0;
    font-family: Roboto;
    font-size: 10px;
    font-weight: normal;
    color: rgb(102, 102, 102);
}
.usertag {
    margin-left: 6px;
    height: 15px;
}
.tweet {
    height: 15px;
    width: 250;
}
.container-lowersection {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    margin-top: 10px;
    margin-left: 37px;
    overflow: hidden;
}
.leftsection2 {
    width: 65px;
    height: 75px;
}
.ytpiclink {
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: cover;
}
.rightsection2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-left: 8px;
}
.ytvidname {
    margin-bottom: 5px;
}
h3 {
    margin: 0;
    color: rgb(104, 104, 104);
    font-family: Roboto;
    font-size: 9px;
    font-weight: normal;
}
.ytvideoinfo {
    display: grid;
    grid-template-rows: ;
}
.ytviddesc {
    width: 40px;
}
.ytdesc {
    font-size: 9px;
    color: black;
    width: 150px;
}

