.container-main {
    display: flex;
    height: 50px;
}
.container-left {
    display: flex;
    align-items: center;
    background-color: lightpink;
    width: 100px;
    justify-content: space-around;
}
.container-right {
    width: 200px;
    background-color: lightblue;
}
h1 {
    background-color: black;
    color: white;
    font-size: 12px;
}